:root {
    --bg-color: #e0f7fa;       
    --light-blue: #b2ebf2;      
    --dark-blue: #0288d1;   
    --hover-blue: #03a9f4;     
    --mint: #a5d6a7;           
    --mint-border: #81c784;    
    --slate: #607d8b;        
    --lavender: #b39ddb;     
    --lavender-border: #9575cd;  
}  

body {
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero {
    background-color: var(--mint);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--mint-border) 4px solid;
}

button {
    background-color: var(--dark-blue);
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--slate);
    color: white;
}

button:hover {
    background-color: var(--hover-blue);
    color: white;
    cursor: pointer;
}

.seconds {
    background-color: var(--lavender);
    padding: 0px 80px 0px 80px;
    margin-top: 10px;
    border-radius: 10px;
    border: var(--lavender-border) 2px solid; 
}
